<div class="container-fluid" th:fragment="movieDetails">
    <h1 class="mt-4"></h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Home</li>
        <li class="breadcrumb-item active">Movie</li>
        <li class="breadcrumb-item active"><span th:text="${movie.title}">1</span></li>
    </ol>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-6">
                <div class="card-header">
                	<span th:text="${movie.title}">1</span>
                </div>
                <div class="card-body col-xl-12">
                	<div><img th:src="'https://image.tmdb.org/t/p/w500'+ ${movie.posterPath}"/></div>
	                <div>
	                	<span th:each="genre : ${genres}">
	                		<h1 th:text="${genre.name}">1</h1>,	
	                	</span>
	                </div>
	                <div><span th:text="${movie.overview}">1</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


</script>