<div class="container-fluid" th:fragment="players">
	<h1 class="mt-4"></h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item "><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Players</li>
    </ol>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                	<p>Search By Team:</p>
                    <select id="pro-teams">
					    <option value="ARI">Ari</option>
					    <option value="ATL">Atl</option>
					    <option value="BAL">Bal</option>
					    <option value="BUF">Buf</option>
					    <option value="CAR">Car</option>
					    <option value="CHI">Chi</option>
					    <option value="CIN">Cin</option>
					    <option value="CLE">Cle</option>
					    <option value="DAL">Dal</option>
					    <option value="DEN">Den</option>
					    <option value="DET">Det</option>
					    <option value="GB">GB</option>
					    <option value="HOU">Hou</option>
					    <option value="IND">Ind</option>
					    <option value="JAX">Jax</option>
					    <option value="KC">KC</option>
					    <option value="LAC">LAC</option>
					    <option value="LAR">LAR</option>
					    <option value="LV">LV</option>
					    <option value="MIA">MIA</option>
					    <option value="MIN">Min</option>
					    <option value="NE">NE</option>
					    <option value="NO">NO</option>
					    <option value="NYG">NYG</option>
					    <option value="NYJ">NYJ</option>
					    <option value="PHI">Phi</option>
					    <option value="PIT">Pit</option>
					    <option value="SEA">Sea</option>
					    <option value="TB">TB</option>
					    <option value="TEN">Ten</option>
					    <option value="WAS">WAS</option>
					</select>
					<button id="search-by-teams" type="button" class="btn btn-success">Go</button>
                </div>
            </div>
        </div>
    </div>
</div>
